DATABASE_URL="postgresql://{user}:{password}@{host:port}/{dbName}"

# Better Auth credential
BETTER_AUTH_SECRET="{isi dari openssl}"
BETTER_AUTH_URL="http://localhost:3000"

# Cloudinary credential — isi dari dashboard cloudinary.com (Settings > Access Keys)
CLOUDINARY_CLOUD_NAME="{isi dari cloudinary dashboard}"
CLOUDINARY_API_KEY="{isi dari cloudinary dashboard}"
CLOUDINARY_API_SECRET="{isi dari cloudinary dashboard}"