@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Color palette */
  --color-brand-utama: #256e3b;
  --color-brand-gelap: #1e3a8a;
  --color-brand-terang: #dbeafe;

  /* Custom border radius */
  --radius-super: 1.5rem;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
